@font-face {
    font-family: myFirstFont;
    src: url('resources/fonts/GalaxyVisitors-Regular.otf');
}


body{
    background-size: cover;
    background: url('resources/games_background3.png') no-repeat fixed;
    height: 100vh;
}

a{
    display: flex;
    justify-content: space-between;
}
.modal-dialog1{
    width: 400px;
}
.modal-dialog2{
    width: 400px;
}
.modal-body1{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.modal-body1:first-child{
    margin: 15px;
}

.modal-body1 label{
    width: 70%;
    margin: 10px;
}
.modal-body1 label input{
    background: rgba(0 ,0 ,0 ,0.8);
    color: white;
    border:1px solid rgb(23, 177, 246);

}
.modal-body1 button{
    width: 30%;
    margin: 5px;
}

#password, #email{
    height: 40px;
    width: 100%;
    border-radius: 10px;
    font-size: 18px;
    text-align:center;
}
#gamesList{
    /*margin-top: 20vh;*/
}
.list-group-item{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    background-color: rgba(255,255,255,0.5);
}

.list-group-item span{
    color: black;
    font-size: 17px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

table.dataTable tbody tr, table.dataTable thead th{
    background: rgba(255,255,255,0.5);
    color:black;
    text-align: center;
    font-size: 17px;
    font-weight: bold;
    border: 1px solid white;

}
table.dataTable, table.dataTable.no-footer{
    border: 1px solid white;
}

.row{
    margin-top: 5vh;
}
#myModal{
    background-size: cover;
    background: url('resources/login_background3.jpg') no-repeat fixed;
}
.modal-content1{
    background-image: url('resources/login_modal_background.png');
    background-size:contain;
    margin-top: 15vh;
}

.modal-content2{
    background-color: rgba(0,255,255, 0.8);
    margin-top: 15vh;
    border-color: black;
}
.mainTitle{
    display: flex;
    justify-content: center;
    align-items: center;
    color: transparent;
    font-family: myFirstFont, fantasy;
    font-size: 100px;
    text-shadow: 0 300px 10px rgba(0,0,0,0.7);
}
.mainTitle2{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: myFirstFont, fantasy;
    font-size: 50px;
}


.titleAnimation{
    opacity: 0;
    animation-name: titleAnimation;
    animation-duration: 4s;
    animation-iteration-count: 1;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

.shadowAnimation{
    opacity: 0;
    animation-name: titleAnimation;
    animation-duration: 4s;
    animation-iteration-count: 1;
    animation-delay: 6s;
    animation-fill-mode: forwards;
}

.animation{
    opacity: 0;
    animation-name: titleAnimation;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-delay: 12s;
    animation-fill-mode: forwards;
}

.flex-center{
    height: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    animation-name: loginMenuAnimation;
    animation-duration: 5s;
    animation-delay: 8s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

#versionMessage{
    margin-top: 10vh;
}
.flex-center2{
    display: flex;
    justify-content: center;
    align-items: center;
}

#options3{
    margin-top: 20vh;
}
#speaker, #mutate, #speaker2, #mutate2{
    height: auto;
    width: 25%;
}

@keyframes titleAnimation {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
@keyframes loginMenuAnimation {
    0% {height: 0;}
    100% {
        height: 70px;
    }
}

::-webkit-scrollbar {
    display: none;
}

.optionsButton2{
    background: transparent;
    border-color: white;
    font-size: 20px;
    font-family: myFirstFont, fantasy;
}
.optionsButton{
    background: transparent;
    border-color: black;
    font-size: 20px;
    font-family: myFirstFont, fantasy;
    color: black;
}