body{
  background-color: rgba(0,0,0,0);
  height: 100vh;

}
/*HEADER ROW -> PLAYER NAMES*/
.displayPlayers{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
    margin-top: 20px;
}
.ownerPlayer, .notOwnerPlayer, .vs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: auto;
    color: white;
    font-family: 'Ruslan Display', cursive;
    font-size: 30px;
}
.ownerPlayer, .notOwnerPlayer{
    padding-right:20px;
    padding-left:20px;
    border: 2px solid white;
    border-radius: 30px;

}
.ownerPlayer{

}
.notOwnerPlayer{

}
.vs{

}

/*TABLES ROW -> 2 GRIDS: one with my ships & nemy salvoes and other with my slvoes*/
#notMySalvoGrid{
    width: 100%;
    height: 450px;
    color: white;
    text-align: center;
}
#notMySalvoGrid th, #modalShipsGrid th{
    height:42px;
}
.rotation-container{
    margin-top: -30px;
    position: relative;
    -webkit-perspective: 150px; /* Safari 4-8  */
    perspective: 400px;
}
#myShipGrid{
    margin-left: -60px;
    width: 122%;
    height: 34.5vh;
    color: white;
    text-align: center;
    position: absolute;
   /* -webkit-transform: rotateX(45deg); /* Safari 3-8  */
   transform: rotateX(45deg);

}
#notMySalvoGrid_A10, #myShipGrid_A10, #modalShipsGrid_A10{
    width:46px;
}
#menu, #chat{
    width:100%;
    height: 32vh;
    border: 2px solid white;
    color: white;
    margin-top: 10px;
}
#chat{
    background-color: rgba(0,0,0, 0.6);
    height: 45vh;
    display:flex;
    flex-direction: row;
    }
#errorMessage{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 32vh;
    margin-top: 30vh;
    border: 2px solid white;
    color: white;
    font-size: 20pt;
}
#menu{
    width: 50%;
    height: 14vh;
}
td:first-child, th{
    border: none;
    background-color: rgba(255,255,255,0.3);
    text-align:center;
}
#notMySalvoGrid td{
    border: 0.5px solid white;
}
#myShipGrid td{
    /*border: 0.5px solid black;*/

}
#notMySalvoGrid td:first-child, #modalShipsGrid td:first-child{
    border: none;
}

td:hover{
    background-color: rgba(255,255,255,0.7);

}
.shipProa{
    background-color: green;

}
.shipPopa{
    background-color: lightgreen;

}
.shipMiddle{
    background-color: red;
}
.mySalvo{
    background-color: rgba(255,255,255,0.4);
}
.fail{
    background-image: url('resources/svgIcons/black-hole.svg');
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: center;

}
.hit{
    background-image: url('resources/svgIcons/explosion.svg');
    background-color: rgba(255,0,0,0.5);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

}
.modal-footer{
    display:flex;
    justify-content: space-around;
}
.modal-header{
    display:flex;
    justify-content: center;
}

#myModal{
    background-image: url('resources/place_ships_Background.jpg');
    background-size: cover;
}

.modal-content{
    background-color: transparent;
    width:100%;
}

.modal-dialog{
    width: 80%;
}
#modalShipsGrid, #hangar{
    width: 50%;
    height: 450px;
    color: white;
    text-align: center;
    background-color:rgba(0,0,0,0.5);
 }

 .cell{
      height: 40px;
      width: 46px;
      border: 0.02px solid green;
 }

 #hangar{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 45%;
    background-color:rgba(0,0,0,0.1);
    border-radius: 5px;

 }
 .modal-body{
    display:flex;
    flex-direction-row;
    justify-content: space-around;
    align-items: flex-start;
 }
 .carrier,.battleship, .submarine, .destroyer, .patrolBoat{
    background-color: green;
 }
 .carrier{
    margin-top: -20px;
    width: 235px;
    height: 46px;
 }

 .battleship{
   margin-top: -20px;
   width: 188px;
   height: 46px;
 }

 .submarine, .destroyer{
    margin-top: -20px;
    width: 141px;
    height: 46px;

 }

 .patrolBoat{
      margin-top: -20px;
      width: 94px;
      height: 46px;

 }
 .hangar{
    display:flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 20%;
 }
 .hangar:hover{
    background-color: rgba(0, 0, 0, 0.7);
 }

 .horizontal{

    }
 .dispHorizontal{

 }

 .vertical{

    }
 .dispVertical{

     }
 #modalShipsGrid td{
    height: 46px;
    width: 46px;
 }
 .chat{
    width:50%;
    height: 100%;
    border: 1px solid white;
 }

.userInterface{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.chatTitles{
    height: 10%;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.chatZone{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    overflow-y: auto;
    height:90%;
    border: 1px solid white;
}
::-webkit-scrollbar {
    display: none;
}
.systemMessage{
    margin-left: 10px;
    color: yellow;
    scrollHeight: 90%;
}
.futureFire{
    background-image: url('resources/svgIcons/meteor-shower.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.endGame{
    height:60vh;
    width:100%;
    border: 2px solid white;
    margin-top: 19vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.message{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: auto;
    color: white;
    font-family: 'Ruslan Display', cursive;
    font-size: 30px;
}





